
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #d8d6d6;
    --branco: #ffffff;
    --laranja: #1f9c25;
    --azul-degrade: linear-gradient(97.54deg, #074901 35.49%, #33ca2e 165.37%);
    --fonte-principal: "Poppins";
    --azul: #144d0d;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
